<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OPSIUM - main page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
  </head>
  <body>
    <div class="header">
      <h1>Welcome to OPSIUM</h1>
      <%= login %>
    </div>
    <div class="main">
      <div class="menu">
        <p>Menu</p>
      </div>
      <div class="content">
        <p>Content</p>
        <p>Here you can add your content...</p>
        <p>
          For example, you can add a chat, a list of users, or anything else.
        </p>
      </div>
    </div>
    <div class="footer">
      <p>OPSIUM © 2023 Martin Falhar. All rights reserved.</p>
    </div>
  </body>
</html>
